{{#zone "main"}}
    <!-- content/body -->
    <div class="row">
        <div class="col-md-12">
            <!-- content -->
            <div id="user-create-form" class="container col-centered wr-content">
                <div class="wr-form">
                    <p class="page-sub-title">EK-Edit_user</p>
                    <p>EK-Please_Note_Required_fields</p>
                    <hr />
                    <div class="row">
                        <div class="col-lg-8">
                            <div id="user-create-error-msg" class="alert alert-danger hidden" role="alert">
                                <i class="icon fw fw-error"></i><span></span>
                            </div>
                            <label class="wr-input-label">
                                EK-User_name * <br>
                            </label>
                            <div class="wr-input-control">
                                <input type="text" id="username" class="form-control" value="{{editUser.username}}" disabled/>
                            </div>
                            <label class="wr-input-label">EK-First_name *</label>
                            <div class="wr-input-control">
                                <input type="text" id="firstname" class="form-control" value="{{editUser.firstname}}"/>
                            </div>
                            <label class="wr-input-label">EK-Last_name *</label>
                            <div class="wr-input-control">
                                <input type="text" id="lastname" class="form-control" value="{{editUser.lastname}}"/>
                            </div>
                            <label class="wr-input-label">
                                EK-Email_address * <br>
                                ( ex: sam@gmail.com )
                            </label>
                            <div class="wr-input-control">
                                <input type="email" id="emailAddress" class="form-control" value="{{editUser.emailAddress}}"/>
                            </div>
                            <label class="wr-input-label" title="Optional field that can have 0-to-many roles for the user">
                                EK-User_roles
                                <span class="wr-help-tip glyphicon glyphicon-question-sign"></span>
                            </label>
                            <div class="wr-input-control">
                                <select id="roles" class="form-control select2" multiple="multiple" selectedVals="
                                 {{#each usersRoles}}
                                        {{this}},
                                    {{/each}}
                                ">
                                    {{#each userRoles}}
                                        <option >{{this}}</option>
                                    {{/each}}
                                </select>
                            </div>
                        </div>
                    </div>
                    <br>
                    <button id="add-user-btn" class="wr-btn">&nbsp;&nbsp;&nbsp;&nbsp;EK-Save_user&nbsp;&nbsp;&nbsp;&nbsp;</button>
                </div>
            </div>
            <div id="user-created-msg" class="container col-centered wr-content hidden">
                <div class="wr-form">
                    <p class="page-sub-title">EK-User_Updated_successfully</p>

                    <br>EK-View_Updated_user,EK-Please_click <b>"EK-View_Updated_user"</b>,
                    EK-Go_Bac_To_User_list,EK-Please_click <b>"EK-View_User_list"</b>
                    <hr />
                    <button class="wr-btn" onclick="window.location.href='/emm/users'">EK-View_User_list</button>
                    <a href="/emm/users/profile?username={{editUser.username}}" class="cu-btn-inner">
                        <span class="fw-stack">
                            <i class="fw fw-ring fw-stack-2x"></i>
                            <i class="fw fw-add fw-stack-1x"></i>
                        </span>
                        EK-View_Updated_user
                    </a>
                </div>
            </div>
            <!-- /content -->
        </div>
    </div>
    <!-- /content/body -->
{{/zone}}
{{#zone "bottomJs"}}
    <script src="{{self.publicURL}}/js/bottomJs.js"></script>
{{/zone}}

