{{#zone "main"}}
    <div class="row wr-device-board">
        <div class="col-lg-12 wr-secondary-bar">
            <span class="page-sub-title">
                &nbsp;&nbsp;EK-Policy_list
            </span>
        </div>
    </div>
    {{#equal isUpdated true}}
        <input type="hidden" id="is-updated" name="country" value="UPDATED">
    {{/equal}}
    <!-- content -->
    <div class="container-fluid">
        <div id="loading-content" class="col-centered">
            <i class="fw fw-settings fw-spin fw-2x"></i>
            &nbsp;&nbsp;&nbsp;
            EK-policies EK-loading . . .
            <br>
        </div>
        <span id="policy-listing-status-msg" class="hidden">{{policyListingStatusMsg}}</span>
        {{#equal noPolicy false}}
        <table class="table table-striped table-hover list-table display responsive nowrap data-table table-selectable grid-view hidden" id="policy-grid">
            <thead>
            <tr class="sort-row">
                <th class="no-sort"></th>
                <th class="no-sort"></th>
                <th>EK-By_platform</th>
                <th>EK-By_Owner_ship</th>
                <th>EK-By_role</th>
                <th>EK-By_user</th>
                <th>EK-By_Compliance_type</th>
                <th>EK-By_status</th>
                <th class="no-sort"></th>
            </tr>
            <tr class="filter-row filter-box">
                <th class="no-sort"></th>
                <th class="no-sort"></th>
                <th data-for="EK-By_platform" class="select-filter"></th>
                <th data-for="EK-By_Owner_ship" class="select-filter"></th>
                <th data-for="EK-By_role" class="select-filter"></th>
                <th data-for="EK-By_user" class="text-filter"></th>
                <th data-for="EK-By_Compliance_type" class="select-filter"></th>
                <th data-for="EK-By_status" class="select-filter"></th>
                <th class="no-sort"></th>
            </tr>
            <tr class="bulk-action-row">
                    <th colspan="9">
                        <ul class="tiles">
                            {{#if removePermitted}}
                                <li class="square">
                                    <a href="#" data-click-event="remove-form" class="btn square-element policy-remove-link" data-toggle="modal" data-target="#modalDemo">
                                            <span class="icon fw-stack">
                                                <i class="fw fw-ring fw-stack-2x"></i>
                                                <i class="fw fw-delete fw-stack-1x"></i>
                                            </span>
                                        EK-remove
                                    </a>
                                </li>
                            {{/if}}
                            <li class="square">
                                <a href="#" data-click-event="remove-form" class="btn square-element policy-publish-link" data-toggle="modal" data-target="#modalDemo">
                                        <span class="icon fw-stack">
                                            <i class="fw fw-ring fw-stack-2x"></i>
                                            <i class="glyphicon glyphicon-floppy-saved"></i>
                                        </span>
                                    EK-publish
                                </a>
                            </li>
                            <li class="square">
                                <a href="#" data-click-event="remove-form" class="btn square-element policy-unpublish-link" data-toggle="modal" data-target="#modalDemo">
                                        <span class="icon fw-stack">
                                            <i class="fw fw-ring fw-stack-2x"></i>
                                            <i class="glyphicon glyphicon-floppy-remove"></i>
                                        </span>
                                    EK-unpublish
                                </a>
                            </li>
                        </ul>
                    </th>
            </tr>
            </thead>

            <tbody>
            {{#each policyListToView}}
                <tr data-type="selectable" data-id="{{id}}" data-status="{{status}}">
                    <td class="remove-padding icon-only content-fill">
                        <div class="thumbnail icon">
                            {{#equal platform "android"}}
                                <i class="square-element text fw fw-android"></i>
                            {{/equal}}
                            {{#equal platform "ios"}}
                                <i class="square-element text fw fw-apple"></i>
                            {{/equal}}
                            {{#equal platform "windows"}}
                                <i class="square-element text fw fw-windows"></i>
                            {{/equal}}
                        </div>
                    </td>
                    <td class="fade-edge" data-search="{{name}}" data-display="{{name}}">
                        <h4>{{name}}</h4>
                        <div>({{platform}})</div>
                        {{#equal status "Active/Updated"}}
                            <i class="fw fw-warning icon-success"></i> Active/Updated</span>
                        {{/equal}}
                        {{#equal status "Active"}}
                            <i class="fw fw-ok icon-success"></i> Active</span>
                        {{/equal}}
                        {{#equal status "Inactive/Updated"}}
                            <i class="fw fw-warning icon-warning"></i> Inactive/Updated</span>
                        {{/equal}}
                        {{#equal status "Inactive"}}
                            <i class="fw fw-error icon-danger"></i> Inactive</span>
                        {{/equal}}
                    </td>
                    <td class="fade-edge remove-padding-top" data-search="{{platform}}" data-display="{{platform}}"></td>
                    <td class="fade-edge remove-padding-top" data-search="{{ownershipType}}" data-display="{{ownershipType}}" data-grid-label="Ownership">{{ownershipType}}</td>
                    <td class="fade-edge remove-padding-top" data-search="{{roles}}" data-display="{{roles}}" data-grid-label="Role(s)">{{roles}}</td>
                    <td class="fade-edge remove-padding-top" data-search="{{users}}" data-display="{{users}}" data-grid-label="User(s)">{{users}}</td>
                    <td class="fade-edge remove-padding-top" data-search="{{compliance}}" data-display="{{compliance}}" data-grid-label="Compliance">{{compliance}}</td>
                    <td id = "policy-status" class="fade-edge remove-padding-top" data-search="{{status}}" data-display="{{status}}">
                    </td>
                    <td class="text-right content-fill text-left-on-grid-view no-wrap">
                        <a href="/emm/policies/view?id={{id}}" data-id="{{id}}" data-click-event="remove-form" class="btn padding-reduce-on-grid-view policy-view-link">
                            <span class="fw-stack">
                                <i class="fw fw-ring fw-stack-2x"></i>
                                <i class="fw fw-view fw-stack-1x"></i>
                            </span>
                            <span class="hidden-xs hidden-on-grid-view">EK-view</span>
                        </a>

                        <a href="/emm/policies/view-edit-policy?id={{id}}" data-id="{{id}}" data-click-event="remove-form" class="btn padding-reduce-on-grid-view policy-update-link">
                            <span class="fw-stack">
                                <i class="fw fw-ring fw-stack-2x"></i>
                                <i class="fw fw-edit fw-stack-1x"></i>
                            </span>
                            <span class="hidden-xs hidden-on-grid-view">EK-Re_configure</span>
                        </a>

                    </td>
                </tr>
            {{/each}}
            <br class="c-both" />
            </tbody>
        </table>
        {{/equal}}
    </div>
    <br class="c-both"/>
    <!-- /content -->

    <div id="content-filter-types" style="display: none">
        <div class="sort-title">EK-Sort_by</div>
        <div class="sort-options">
            <a href="#">EK-By_platform<span class="ico-sort-asc"></span></a>
            <a href="#">EK-By_Owner_ship</a>
            <a href="#">EK-By_role</a>
            <a href="#">EK-By_user</a>
            <a href="#">EK-By_Compliance_type</a>
            <a href="#">EK-By_status</a>
        </div>
    </div>

    <div id="remove-policy-modal-content" class="hide">
        <div class="content">
            <div class="row">
                <div class="col-lg-5 col-md-6 col-centered">
                    <h3>EK-Ask_Remove_Selected_policy?</h3>
                    <div class="buttons">
                        <a href="#" id="remove-policy-yes-link" class="btn-operations">
                            &nbsp;&nbsp;&nbsp;&nbsp;EK-yes&nbsp;&nbsp;&nbsp;&nbsp;
                        </a>
                        &nbsp;&nbsp;
                        <a href="#" id="remove-policy-cancel-link" class="btn-operations">
                            &nbsp;&nbsp;&nbsp;&nbsp;EK-cancel&nbsp;&nbsp;&nbsp;&nbsp;
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="remove-policy-success-content" class="hide">
        <div class="content">
            <div class="row">
                <div class="col-lg-5 col-md-6 col-centered">
                    <h3>EK-Selected_Policy_Successfully_removed</h3>
                    <div class="buttons">
                        <a href="#" id="remove-policy-success-link" class="btn-operations">
                            &nbsp;&nbsp;&nbsp;&nbsp;EK-ok&nbsp;&nbsp;&nbsp;&nbsp;
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="remove-policy-error-content" class="hide">
        <div class="content">
            <div class="row">
                <div class="col-lg-5 col-md-6 col-centered">
                    <h3>EK-Unexpected_Error_occurred</h3>
                    <div class="buttons">
                        <a href="#" id="remove-policy-error-link" class="btn-operations">
                            &nbsp;&nbsp;&nbsp;&nbsp;EK-ok&nbsp;&nbsp;&nbsp;&nbsp;
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="remove-policy-error-devices" class="hide">
        <div class="content">
            <div class="row">
                <div class="col-lg-5 col-md-6 col-centered">
                    <h3>EK-Cannot_Remove_Policies_applied</h3>
                    <div class="buttons">
                        <a href="#" id="remove-policy-error-devices" class="btn-operations">
                            &nbsp;&nbsp;&nbsp;&nbsp;EK-ok&nbsp;&nbsp;&nbsp;&nbsp;
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="publish-policy-modal-content" class="hide">
        <div class="content">
            <div class="row">
                <div class="col-lg-5 col-md-6 col-centered">
                    <h3>EK-Ask_Publish_Selected_policy?</h3>
                    <div class="buttons">
                        <a href="#" id="publish-policy-yes-link" class="btn-operations">
                            &nbsp;&nbsp;&nbsp;&nbsp;EK-yes&nbsp;&nbsp;&nbsp;&nbsp;
                        </a>
                        &nbsp;&nbsp;
                        <a href="#" id="publish-policy-cancel-link" class="btn-operations">
                            &nbsp;&nbsp;&nbsp;&nbsp;EK-cancel&nbsp;&nbsp;&nbsp;&nbsp;
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="publish-policy-success-content" class="hide">
        <div class="content">
            <div class="row">
                <div class="col-lg-5 col-md-6 col-centered">
                    <h3>EK-Selected_Policy_Successfully_published</h3>
                    <div class="buttons">
                        <a href="#" id="publish-policy-success-link" class="btn-operations">
                            &nbsp;&nbsp;&nbsp;&nbsp;EK-ok&nbsp;&nbsp;&nbsp;&nbsp;
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="publish-policy-error-content" class="hide">
        <div class="content">
            <div class="row">
                <div class="col-lg-5 col-md-6 col-centered">
                    <h3>EK-Unexpected_Error_occurred</h3>
                    <div class="buttons">
                        <a href="#" id="publish-policy-error-link" class="btn-operations">
                            &nbsp;&nbsp;&nbsp;&nbsp;EK-ok&nbsp;&nbsp;&nbsp;&nbsp;
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="unpublish-policy-modal-content" class="hide">
        <div class="content">
            <div class="row">
                <div class="col-lg-5 col-md-6 col-centered">
                    <h3>EK-Ask_Unpublish_Selected_policy?</h3>
                    <div class="buttons">
                        <a href="#" id="unpublish-policy-yes-link" class="btn-operations">
                            &nbsp;&nbsp;&nbsp;&nbsp;EK-yes&nbsp;&nbsp;&nbsp;&nbsp;
                        </a>
                        &nbsp;&nbsp;
                        <a href="#" id="unpublish-policy-cancel-link" class="btn-operations">
                            &nbsp;&nbsp;&nbsp;&nbsp;EK-cancel&nbsp;&nbsp;&nbsp;&nbsp;
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="unpublish-policy-success-content" class="hide">
        <div class="content">
            <div class="row">
                <div class="col-lg-5 col-md-6 col-centered">
                    <h3>EK-Selected_Policy_Successfully_unpublished</h3>
                    <div class="buttons">
                        <a href="#" id="unpublish-policy-success-link" class="btn-operations">
                            &nbsp;&nbsp;&nbsp;&nbsp;EK-ok&nbsp;&nbsp;&nbsp;&nbsp;
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="unpublish-policy-error-content" class="hide">
        <div class="content">
            <div class="row">
                <div class="col-lg-5 col-md-6 col-centered">
                    <h3>EK-Unexpected_Error_occurred</h3>
                    <div class="buttons">
                        <a href="#" id="unpublish-policy-error-link" class="btn-operations">
                            &nbsp;&nbsp;&nbsp;&nbsp;EK-ok&nbsp;&nbsp;&nbsp;&nbsp;
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="save-policy-priorities-success-content" class="hide">
        <div class="content">
            <div class="row">
                <div class="col-lg-5 col-md-6 col-centered">
                    <h3>EK-New_Policy_Successfully_updated</h3>
                    <div class="buttons">
                        <a href="#" id="save-policy-priorities-success-link" class="btn-operations">
                            &nbsp;&nbsp;&nbsp;&nbsp;EK-ok&nbsp;&nbsp;&nbsp;&nbsp;
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="save-policy-priorities-error-content" class="hide">
        <div class="content">
            <div class="row">
                <div class="col-lg-5 col-md-6 col-centered">
                    <h3>EK-Unexpected_Error_occurred</h3>
                    <h4 class="message-from-server"></h4>
                    <div class="buttons">
                        <a href="#" id="save-policy-priorities-error-link" class="btn-operations">
                            &nbsp;&nbsp;&nbsp;&nbsp;EK-ok&nbsp;&nbsp;&nbsp;&nbsp;
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="change-policy-modal-content" class="hide">
        <div class="content">
            <div class="row">
                <div class="col-lg-5 col-md-6 col-centered">
                    <h3>EK-Ask_Apply_Changes_policies?</h3>
                    <div class="buttons">
                        <a href="#" id="change-policy-yes-link" class="btn-operations">
                            &nbsp;&nbsp;&nbsp;&nbsp;EK-yes&nbsp;&nbsp;&nbsp;&nbsp;
                        </a>
                        &nbsp;&nbsp;
                        <a href="#" id="change-policy-cancel-link" class="btn-operations">
                            &nbsp;&nbsp;&nbsp;&nbsp;EK-cancel&nbsp;&nbsp;&nbsp;&nbsp;
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="change-policy-success-content" class="hide">
        <div class="content">
            <div class="row">
                <div class="col-lg-5 col-md-6 col-centered">
                    <h3>EK-Changes_Applied_successfully</h3>
                    <div class="buttons">
                        <a href="#" id="change-policy-success-link" class="btn-operations">
                            &nbsp;&nbsp;&nbsp;&nbsp;EK-ok&nbsp;&nbsp;&nbsp;&nbsp;
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="change-policy-error-content" class="hide">
        <div class="content">
            <div class="row">
                <div class="col-lg-5 col-md-6 col-centered">
                    <h3>EK-Unexpected_Error_occurred</h3>
                    <div class="buttons">
                        <a href="#" id="change-policy-error-link" class="btn-operations">
                            &nbsp;&nbsp;&nbsp;&nbsp;EK-ok&nbsp;&nbsp;&nbsp;&nbsp;
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="errorPolicyUnPublish" class="hide">
        <div class="content">
            <div class="row">
                <div class="col-lg-5 col-md-6 col-centered">
                    <h3>
                    <span class="fw-stack">
                        <i class="fw fw-ring fw-stack-2x"></i>
                        <i class="fw fw-error fw-stack-1x"></i>
                    </span>
                        EK-Operation_Cannot_Be_performed !
                    </h3>
                    <h4>
                        EK-Select_A_policy
                    </h4>
                    <div class="buttons">
                        <a href="javascript:hidePopup()" class="btn-operations">
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;EK-ok&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="errorPolicyUnPublishSelection" class="hide">
        <div class="content">
            <div class="row">
                <div class="col-lg-5 col-md-6 col-centered">
                    <h3>
                    <span class="fw-stack">
                        <i class="fw fw-ring fw-stack-2x"></i>
                        <i class="fw fw-error fw-stack-1x"></i>
                    </span>
                        EK-Operation_Cannot_Be_performed !
                    </h3>
                    <h4>
                        EK-Cannot_Select_Inactive_policies
                    </h4>
                    <div class="buttons">
                        <a href="javascript:hidePopup()" class="btn-operations">
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;EK-ok&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="errorPolicyPublishSelection" class="hide">
        <div class="content">
            <div class="row">
                <div class="col-lg-5 col-md-6 col-centered">
                    <h3>
                    <span class="fw-stack">
                        <i class="fw fw-ring fw-stack-2x"></i>
                        <i class="fw fw-error fw-stack-1x"></i>
                    </span>
                        EK-Operation_Cannot_Be_performed !
                    </h3>
                    <h4>
                        EK-Cannot_Select_Active_policies
                    </h4>
                    <div class="buttons">
                        <a href="javascript:hidePopup()" class="btn-operations">
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;EK-ok&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="errorPolicyPublish" class="hide">
        <div class="content">
            <div class="row">
                <div class="col-lg-5 col-md-6 col-centered">
                    <h3>
                    <span class="fw-stack">
                        <i class="fw fw-ring fw-stack-2x"></i>
                        <i class="fw fw-error fw-stack-1x"></i>
                    </span>
                        EK-Operation_Cannot_Be_performed !
                    </h3>
                    <h4>
                        EK-Select_A_policy
                    </h4>
                    <div class="buttons">
                        <a href="javascript:hidePopup()" class="btn-operations">
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;EK-ok&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="errorPolicy" class="hide">
        <div class="content">
            <div class="row">
                <div class="col-lg-5 col-md-6 col-centered">
                    <h3>
                    <span class="fw-stack">
                        <i class="fw fw-ring fw-stack-2x"></i>
                        <i class="fw fw-error fw-stack-1x"></i>
                    </span>
                        EK-Operation_Cannot_Be_performed !
                    </h3>
                    <h4>
                        EK-Select_A_policy
                    </h4>
                    <div class="buttons">
                        <a href="javascript:hidePopup()" class="btn-operations">
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;EK-ok&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>


{{/zone}}
{{#zone "bottomJs"}}
    <script src="{{self.publicURL}}/js/policy-list.js"></script>
{{/zone}}